#container {
    width: 35vw;
    height: 68vh;
    margin: auto;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
body {
    background-color: #EAF6F7 !important;
}

span {
    font-size: 2em;
    font-family: sans-serif;
    margin: 0 0 0 13.5vw;
    color: white;
}

img {
    margin: 0 0 0 1vw;
}

#Div_BarraColor {
    background-color: #4E9E19;
}

#Label_Correo{
    font-size: 1.2em;
    font-family: sans-serif;
}

#email {
    font-family: sans-serif;
    font-size: 1.2em;
}

#Label_Contrasenia{
    font-size: 1.2em;
    font-family: sans-serif;
}

#password {
    font-family: sans-serif;
    font-size: 1.2em;
}

#Label_Confirmar{
    font-size: 1.2em;
    font-family: sans-serif;
}

#password_confirmation {
    font-family: sans-serif;
    font-size: 1.2em;
}

#Label_Checkbox{
    font-size: 1.2em;
    font-family: sans-serif;
}

#Icon-x {
    margin: 0 0 0 10vw; 
}